.left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}


.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: black;
}

.navbar {
  background: rgb(81, 167, 243);
  padding: 10px 20px;
  display: flex;
  justify-content: right;
}

.navbar a {
  color: #c8a2ff;
  text-decoration: none;
  margin: 0 10px;
}
body {
    background: linear-gradient(to bottom, #b280ff, #000033);
    color: #e6d4ff;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgba(93, 2, 113, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    color: #d9b3ff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: #8ff7ff;
}
.banner {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom, rgba(70,0,120,0.8), rgba(0,0,50,0.9));
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5rem;
    color: #d8c9ff;
}

.news-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
}

.news-item {
    background-color: rgba(60, 0, 100, 0.7);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    color: #f2e6ff;
    box-shadow: 0 0 10px rgba(180, 140, 255, 0.2);
}

.news-item img {
    width: 100%;
    display: block;
}

.news-item h2 {
    font-size: 1.5rem;
    margin: 15px;
}

.news-item p {
    margin: 0 15px 15px 15px;
    color: #e6d9ff;
}
.news-item img {
    width: 100%;
    height: 65%; 
    object-fit: cover;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin: 0 15px 15px 15px;
    padding: 10px 20px;
    background-color: #7a00ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #33e6ff;
}
footer {
    text-align: left;
    padding: 3px;
    background-color: rgba(100, 0, 140, 0.8);
    color: #d8cfff;
}
.pic img {
    width: 100%;      
    height: 2%;     
    object-fit: cover;
}
.fte {
    display: flex;
    align-items: center;
    padding: auto;
}
footer a {
    color: #e6ccff;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}
